/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#game-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

header img {
    width: 150px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    color: #222;
    margin-bottom: 20px;
}

#puzzle-area {
    margin-top: 30px;
}

#puzzle-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 30px;
}

.puzzle-piece {
    width: 130px;
    height: 130px;
    background-size: cover;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    margin-top: 30px;
}
